.app {
  background-color: #f1f3f6;
  display: flex;
  justify-content: center;
}

.filter {
  background-color:#fff ;
  color: #212121;
  padding: 16px;
  margin: 8px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
  width: 20%;
}

.list-item {
  background-color:#fff ;
  color: #212121;
  padding: 24px 0 30px 34px;
  margin: 8px 8px 8px 0;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
  width: 80%;
}